<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Demerit Points</title>
    <script>
      function generate(){
        var download_url = 'check-points/download'
        window.open(download_url);
      }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
      </symbol>
    </svg>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <!-- <a class="navbar-brand" href="#">Avatar Service Transport Portal</a> -->
                {% if not session['user'] %}
                <a class="navbar-brand" href="#">Avatar Service Transport Portal</a>
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/login">Login</a>

                {% else %}
                <a class="navbar-brand" href="#">Avatar Service Transport Portal</a>
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/check-points">Check Demerit Points</a>
                <a class="nav-link" href="/check-points/download">Download Report</a>
                <a class="nav-link" href="/logout">Logout</a>
                {% endif %}
                
            </div>
        </div>
    </nav>
    <div class="container py-3">
      <header>
<!--        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">-->


<!--          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">-->
<!--            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Home</a>-->
<!--            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Change Address</a>-->
<!--          </nav>-->
<!--        </div>-->

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Demerit Points Result</h1>
          <p class="fs-5 text-muted">You can click and generate a textual record for download</p>
        </div>
      </header>

      <main>
        <div id="" class="row row-cols-1 row-cols-md-1 mb-3 text-center" style="margin-left:auto; margin-right:auto; max-width: 500px">
<!--        <div id="" class="row row-cols-1 row-cols-md-3 mb-3 offset-5 text-center">-->
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Total Demerit</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    {{ user_demerit }}
                    <small class="text-muted fw-light">/13</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Driver licence can be </li>
                  <li>suspended at</li>
                  <li><b>13 demerits</b></li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary" onClick="generate()" style="background-color:#071630">Get Textual Result</button>
              </div>
            </div>
          </div>
        </div>

        <h2 class="display-6 text-center mb-4" >Your Driver Details</h2>

        <div class="table-responsive" >
          <table class="table text-center">
<!--            <thead>-->
<!--              <tr>-->
<!--                <th style="width: 34%;">Title</th>-->
<!--                <th style="width: 22%;">Detail</th>-->
<!--              </tr>-->
<!--            </thead>-->
            <tbody>
              <tr>
                <th scope="row" class="text-start">Full Name</th>
                <td>{{ full_name }}</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Licence Number</th>
                <td>{{ licence_no }}</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Date of Birth</th>
                <td>{{ dob }}</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Address</th>
                <td>{{ address }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </main>
    </div>

</body>
</html>