{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block pageContent %}



<body>
    <h1> </h1>
    <h3 class="text-xl-start">Avatar Service Health Vaccination Portal</h3>

    <main class="container">
        <div class="bg-light p-5 rounded mt-3">
            <p class="lead">Thank you for taking time to book a COVID-19 vaccination. To get vaccinated, the first step
                is to CREATE an account. If you already have one, please LOG IN.</p>

            <a class="btn btn-lg btn-primary" href="/register" role="button">Create your account &raquo;</a>
        </div>
    </main>
</body>



{% endblock %}