{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block pageContent %}
<div class="container mt-5" style="max-width: 500px">
    <h1>Create your account</h1>
    <strong>{{ message }}</strong>
    <!-- Register form -->
    <form method="post">
        {{ form.hidden_tag() }}
        <h4 class="mb-3">Basic Information</h4>
        <div class="row g-3">
            <div class="form-group col-sm-6">
                {{ form.first_name.label(class_="form-label") }}:
                {{ form.first_name(class_="form-control") }}
            </div>

            <div class="form-group col-sm-6">
                {{ form.last_name.label(class_="form-label") }}:
                {{ form.last_name(class_="form-control") }}
            </div>

            <div class="form-group col-sm-6">
                {{ form.gender.label(class_="form-label") }}:
                {{ form.gender(class_="form-control") }}
            </div>

            <div class="form-group col-sm-6">
                {{ form.email.label(class_="form-label") }}:
                {{ form.email(class_="form-control") }}
            </div>

            <div class="form-group col-sm-6">
                {{ form.dob.label(class_="form-label") }}:
                {{ form.dob(class_="form-control") }}
            </div>

            <div class="form-group col-sm-6">
                {{ form.licence_no.label(class_="form-label") }}:
                {{ form.licence_no(class_="form-control") }}
            </div>

            <div class="form-group col-sm-12">
                {{ form.password.label(class_="form-label") }}:
                {{ form.password(class_="form-control") }}
            </div>

        </div>

        <hr class="my-4">

        <h4 class="mb-3">Residential Address</h4>
        <div class="row g-3">
            <div class="form-group col-sm-12">
                {{ form.address1.label(class_="form-label") }}:
                {{ form.address1(class_="form-control") }}
            </div>

            <div class="form-group col-sm-12">
                {{ form.address2.label(class_="form-label") }}:
                {{ form.address2(class_="form-control") }}
            </div>

            <div class="form-group col-sm-4">
                {{ form.country.label(class_="form-label") }}:
                {{ form.country(class_="form-control") }}
            </div>

            <div class="form-group col-sm-4">
                {{ form.state.label(class_="form-label") }}:
                {{ form.state(class_="form-control") }}
            </div>

            <div class="form-group col-sm-4">
                {{ form.zipcode.label(class_="form-label") }}:
                {{ form.zipcode(class_="form-control") }}
            </div>

            <div class="col text-center">
                {{ form.submit(class="w-50 btn btn-primary mt-3")}}
            </div>
        </div>

    </form>
</div>
{% endblock %}