{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block pageContent %}
<div class="container mt-5" style="max-width: 960px">
    <div class="py-5 text-center">
        <h2>Change Address Form</h2>
        <p class="lead">This form is used to change your address with government.</p>
    </div>


    <div class="col-lg-12">
        <form method="post">
            {{ form.hidden_tag() }}
            <h4 class="mb-3">Basic Information</h4>
            <div class="row g-3">
                <div class="form-group col-sm-12">
                    {{ form.email.label(class_="form-label") }}:
                    {{ form.email(class_="form-control") }}
                </div>
                <div class="form-group col-sm-12">
                    {{ form.address1.label(class_="form-label") }}:
                    {{ form.address1(class_="form-control") }}
                </div>

                <div class="form-group col-sm-12">
                    {{ form.address2.label(class_="form-label") }}:
                    {{ form.address2(class_="form-control") }}
                </div>

                <div class="form-group col-sm-4">
                    {{ form.country.label(class_="form-label") }}:
                    {{ form.country(class_="form-control") }}
                </div>

                <div class="form-group col-sm-4">
                    {{ form.state.label(class_="form-label") }}:
                    {{ form.state(class_="form-control") }}
                </div>

                <div class="form-group col-sm-4">
                    {{ form.zipcode.label(class_="form-label") }}:
                    {{ form.zipcode(class_="form-control") }}
                </div>
            </div>

            <hr class="my-4">



            <div class="col text-center">
                {{ form.submit(class="w-25 btn btn-primary mt-3")}}
            </div>

        </form>
    </div>
</div>
{% endblock %}