{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block pageContent %}



<body>
    <h1> </h1>
    <h3 class="text-xl-start">Avatar Service Transport Portal</h3>

    <main class="container">
        <div class="bg-light p-5 rounded mt-3">
            <p class="lead">This portal aims to assist you to change your address along with your driver licence and
                vehicle registrations, or boat licence and vessel registrations, or RSA/RCG competency card and other
                liquor and gaming records. If you do not have an account, please CREATE one first, otherwise, please
                LOGIN.</p>

            <a class="btn btn-lg btn-primary" href="/register" role="button">Create your account &raquo;</a>
        </div>
    </main>
</body>



{% endblock %}